<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/admin_header :: admin_head"></head>

<body>

<div th:replace="layout/admin_header :: admin_navbar"></div>

<h1>Quản lý đơn hàng</h1>

<table class="admin-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Khách hàng</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Tổng tiền</th>
        <th>Ngày đặt</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="o : ${orders}">
        <td th:text="${o.id}"></td>
        <td th:text="${o.fullname}"></td>
        <td th:text="${o.phone}"></td>
        <td th:text="${o.address}"></td>
        <td th:text="${o.total}"></td>
        <td th:text="${o.createdAt}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
