<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/admin_header :: admin_head"></head>

<body>

<div th:replace="layout/admin_header :: admin_navbar"></div>

<h1 th:text="${title}"></h1>

<form th:action="@{${action}}" method="post" enctype="multipart/form-data">

    <label>Tên sản phẩm:</label>
    <input type="text" name="name" th:value="${product.name}">

    <label>Giá:</label>
    <input type="number" name="price" th:value="${product.price}">

    <label>Mô tả:</label>
    <textarea name="description" rows="4" th:text="${product.description}"></textarea>

    <label>Danh mục:</label>
    <select name="categoryId">
        <option th:each="c : ${categories}"
                th:value="${c.id}"
                th:text="${c.name}"
                th:selected="${product.category?.id == c.id}">
        </option>
    </select>

    <label>Ảnh sản phẩm:</label>
    <input type="file" name="image">

    <button type="submit" class="btn">Lưu</button>
</form>

</body>
</html>
